body{
    margin:0px;
    padding:0px;
    background-color:black;
}

.rpsContainer img{
    width:100%;
    border:3px solid black;
    max-width:180px;
    border-radius: 8%;

    
}

h1{
    color:white;
    text-align: center;

}
.gameArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rpsContainer{
    display: flex;
}
.rpsContainer div{
     display: flex;
     flex-direction: column;


}
#paper:hover, #rock:hover, #scissors:hover{
    border:3px solid rgb(255, 0, 0);
    max-width: 200px;
   
}
#paper:active{
    border:20px solid pink;
    max-width: 200px;
}
#rock:active{
    border:20px solid grey;
    max-width: 200px;
}
#scissors:active{
    border:20px solid green;
    max-width: 200px;
}


.greeting{
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    display:flex;
    justify-content: center;
    height: 100vh;
   
}

.text{
    overflow: hidden;
    white-space:nowrap;
    animation:typing;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    flex-direction: column;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .text button{
    border: 2px solid white;
    height: 40px;
    width:70px;
    background-color:black;
    color:white;
  }
  .text button:hover{
    background-color: white;
    color:black;
  }
.score{
    color:white;
}
